*{margin:0; padding:0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color:#fff;}
body{background: #f0f0f0}
.header,.footer{ width:100% }
.header{ height:142px; }
.footer{ height:367px; background: white !important;}
.tou{ height:102px; }
.hover:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  transform: translateY(-2px);
  transition: 0.2s all ease-out;
}
/*弹性居中对齐*/
.center{
	width: 1180px;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;
}